{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
                </div>
            </div>
        </header>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
