{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<div class="card">
  <div class="card-header">
    Order {{ order.id}} - ${{order.amount_paid}}
  </div>
  <div class="card-body">
    Email: {{ order.email}}<br/>
    {% if order.date_shipped %}
      Date Shipped: {{ order.date_shipped}}
    {% else %}
     Date Ordered: {{ order.date_ordered}}
    {% endif %}
    <br/><br/>
    {{ order.full_name }}<br/>
    <pre>{{ order.shipping_address }}
    </pre>
    {% for item in items %}
      {{ item.product }} - {{ item.quantity }} - ${{ item.price }}<br/>

    {% endfor %}
    <br/><br/>
    {% if not order.shipped %}
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="shipping_status" value="true">
      <button type="Submit" class="btn btn-success">Mark As Shipped</button>
    </from>

    {% else %}
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="shipping_status" value="false">
      <button type="Submit" class="btn btn-danger">Mark As Not Shipped</button>
    </from>

    {% endif %}

  </div>
</div>
<br/>

<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}